<ui-view>
<div>
      <div class="topcoatx-navigation-bar__item fltL ten-perc">
            <button class="topcoat-icon-button--quiet" style="margin-left:5px;" href="" ng-click="goMenuPg()">
                <img class="topcoat-icon" src="img/home-yellow-icon.png"/>
            </button>
      </div>
      <div class="topcoatx-navigation-bar">
           <div class="topcoatx-navigation-bar__item center">
             <div class="topcoatx-navigation-bar__title">Product Details</div>
           </div>
      </div>
        
     <div style="margin-top:15px;padding:10px; border: 1px solid  #fd9f1b;" >
        <div>
          <div class="label">Product </div>
           <div class="errmsg full" data-ng-bind="state_docvispg.prodcd.message"></div>
           <div>
            <input type="text" class="topcoatx-text-input upper full" data-ng-model="docvispg.prodcd" name="prodcd" data-ng-click="callDdn('prodcd')" maxlength="15" placeholder="Enter Product "  data-ng-disabled="curModepg == 1" data-ng-focus="onFocus('prodcd')" data-ng-blur="onBlur('prodcd')"  required>
           </div>
        </div>
        <br/>
        <div>
          <div class="label">Sample </div>
          <div class="errmsg full" data-ng-bind="state_docvispg.sampleqty.message"></div>
          <div class="topxcoatx-button-barwhite">
            <div class="topcoatx-button-barwhite__item">
              <button class="topcoatx-button-barwhite__button"  data-ng-click="decrVal(docvispg.sampleqty)" ng-disabled="minNumber()" >-</button>
            </div>
            <div class="topcoatx-button-barwhite__item">
              <button class="topcoatx-button-barwhite__button"  >{{docvispg.sampleqty}}</button>
            </div>
            <div class="topcoatx-button-barwhite__item">
              <button class="topcoatx-button-barwhite__button" data-ng-click="incrVal(docvispg.sampleqty)" ng-disabled="maxNumber()">+</button>
            </div>
         </div>
        </div>
        <br/>
        <div class="topcoat-button-bar">
          <div class="topcoat-button-bar__item">
            <button  class="topcoat-icon-button"  data-ng-click="doneProd()"  ><img class="topcoat-icon" src="img/correct.png"></img></button>
          </div>
          <div class="topcoat-button-bar__item">
            <button class="topcoat-icon-button" data-ng-click="cancelProd()"><img class="topcoat-icon" src="img/wrong.png"></img></button>
          </div>
        </div>
     </div>    

</div>
</ui-view>