<div id="LoginPg">
    <div >
        <div class="topcoatx-navigation-bar">
            <div class="topcoatx-navigation-bar__item center full">
                <div class="topcoatx-navigation-bar__title">Settings</div>
            </div>
        </div>
            
        <div class="loginbox ninety-perc">
            <div class="login_item">
                <div class="label" >Server URL</div>
                <div>
                    <input type="text" class="topcoatx-text-input seventy-perc" data-ng-model="serverUrl" name="m_serverUrl" style="background-color: rgb(222,222,222);" required>
                </div>
            </div>
            <br/>

            <div class="login_item">
                <div style="vertical-align: top">
                    <button class="topcoatx-buttonblue" data-ng-click="SaveSettings()">Save</button>
                </div>
            </div>

        </div>
    </div>
</div>